<div class="content" cdkDropListGroup>
    <div class="example-boundary">
      <mat-grid-list cols="8" gutterSize="0">
        <ng-container *ngFor="let row of tiles, let i = index">
          <mat-grid-tile *ngFor="let tile of row; let j = index">
            <div
            class="tile"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="tile"
            [style.background]="tile.tileColor"
            (contextmenu)="changeColor(tile)"
          >
            <app-piece *ngIf="tile.piece != null"
              cdkDragBoundary=".example-boundary"
              [cdkDragData]="tile"
              cdkDrag
              cdkDragHandle
              cdkDragPreview
              (cdkDragStarted)="dragStart($event)"
              [style.background-image]="tile.img"
              [style.cursor]="'grab'"
            >
              <div *cdkDragPlaceholder></div>
            </app-piece>
            <app-piece *ngIf="tile.piece == null"
              cdkDrag
              [cdkDragData]="tile"
              [style.background-image]="tile.img"
            >
              <div *cdkDragPlaceholder></div>
            </app-piece>
        </div>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
    </div>
</div>

<!-- <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>

  </div> -->
