<p>
  <mat-toolbar>
    <span>My Application</span>
    <button mat-button>White openings</button>
    <button mat-button>Black openings</button>
  </mat-toolbar>
</p>

<div class="outer">

  <div class="info">
    <div>Player is in check: {{ chess.check }}</div>
    <div>Player is in checkmate: {{ chess.checkmate }}</div>
    <div>Player is in stalemate: {{ chess.stalemate }}</div>
    <div>ROUND: {{ chess.round }}</div>
  </div>

  <div class="yo" cdkDropListGroup>
    <div class="flip" style="visibility: hidden;">
      <mat-icon>repeat</mat-icon>
    </div>
    <div class="boundary">
      <mat-grid-list cols="8" gutterSize="0">
        <ng-container *ngFor="let row of chess.chessboard, let i = index">
          <mat-grid-tile *ngFor="let tile of row; let j = index">
            <div (click)="promote(tile)" class="promotion" *ngIf="tile.promotion" [style.background-image]="tile.promotionImage"></div>
            <div
            class="tile"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="tile"
            [style.background]="tile.color"
            (contextmenu)="changeColor(tile)"
            >
            <app-tile *ngIf="tile.piece.name != null"
              cdkDragBoundary=".boundary"
              [cdkDragData]="tile"
              cdkDrag
              cdkDragHandle
              cdkDragPreview
              (cdkDragStarted)="dragStart($event)"
              [style.background-image]="tile.piece.img"
              [style.cursor]="'grab'"
            >
              <div *cdkDragPlaceholder></div>
            </app-tile>
            <app-tile *ngIf="tile.piece.name == null"
              cdkDrag
              [cdkDragData]="tile"
              [style.background-image]="tile.piece.img"
            >
              <div *cdkDragPlaceholder></div>
            </app-tile>
            
        </div>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
    </div>
    <div class="flip" (click)="flipBoard()">
      <mat-icon>repeat</mat-icon>
    </div>
  </div>

</div>
